<f:layout name="Full" />

<f:section name="Content">

    <section class="content" style="margin:100px 15px 0 15px;">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text"><f:translate key="common.pages" default="PAGES" /></div>
                            <div class="number count-to" data-from="0" data-to="{pagesCountAll}" data-speed="2600" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box bg-deep-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="content">
                            <div class="text"><f:translate key="common.backend_users" default="BACKEND USERS" /></div>
                            <div class="number count-to" data-from="0" data-to="{beUserCountAll}" data-speed="2000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35"><f:translate key="common.loaded_themes" default="LOADED THEMES" /></div>
                            <ul class="dashboard-stat-list">
                                <f:if condition="{loadedThemes}">
                                    <f:then>
                                        <f:for each="{loadedThemes}" as="ext" key="extKey">
                                            <li><a href="https://docs.typo3.org/typo3cms/extensions/{extKey}/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the theme documentation">{extKey}</a></li>
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <li style="background-color:yellow;color:black;padding:1em;">You have no t3themes installed.</li>
                                    </f:else>
                                </f:if>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <f:if condition="{fluxLoaded}">
                <f:then></f:then>
                <f:else>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="body bg-blue-grey">
                                    <div class="font-bold m-b--35"><f:translate key="dashboard.widgets.flux.title" default="ENABLE MORE POWER!" /></div>
                                    <ul class="dashboard-stat-list">
                                        <li>We recommend to install <a href="https://extensions.typo3.org/extension/flux/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:flux</a> and <a href="https://extensions.typo3.org/extension/fluidcontent/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:fluidcontent</a> to enable new powerful content elements for your website.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </f:else>
                </f:if>
                <f:if condition="{loadedSeoExtensions}">
                    <f:then></f:then>
                    <f:else>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="body bg-purple">
                                    <div class="font-bold m-b--35"><f:translate key="dashboard.widgets.seo.title" default="SEO and visibility" /></div>
                                    <ul class="dashboard-stat-list">
                                        <li>Make sure that you don't forget your SEO! We could not find a common seo extension in your system. Check out these extensions: <a href="https://extensions.typo3.org/extension/mindshape_seo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:mindshape_seo</a>&emsp;<a href="https://extensions.typo3.org/extension/yoast_seo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:yoast_seo</a>&emsp;<a href="https://extensions.typo3.org/extension/cs_seo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:cs_seo</a>&emsp;<a href="https://extensions.typo3.org/extension/metaseo/" target="_blank" style="color:white;text-decoration:underline;" title="Opens the TYPO3 Extension Repository">EXT:metaseo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </f:else>
                </f:if>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35"><f:translate key="common.loaded_content" default="LOADED CONTENTS" /></div>
                            <ul class="dashboard-stat-list">
                                <f:if condition="{loadedContents}">
                                    <f:then>
                                        <f:for each="{loadedContents}" as="ext" key="extKey">
                                            <li>{extKey}</li>
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <li style="background-color:yellow;color:black;padding:1em;">You have no content packages installed.</li>
                                    </f:else>
                                </f:if>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->

            <div class="row clearfix">
                <!-- Dev & contrib -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2><f:translate key="dashboard.contrib.title" default="Development & contributing with EXT:t3cms" /></h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-4"><f:translate key="common.task" default="Task" /></th>
                                            <th class="col-sm-8"><f:translate key="common.progress" default="Progress" /></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.translating" default="Translating" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%" title="not yet done"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.documentation" default="Documentation" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%" title="not yet done"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.stablizing" default="Stablizing" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%" title="work in progress"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><f:translate key="dashboard.contrib.planned_features" default="Planned features" /></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;opacity:0.2;" title="???"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Theme kickstarter</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:65%" title="Beta started"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Themes pool</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100" style="width:7%" title="Only 3 themes from right now, but we will create more themes/distributions, after the release of EXT:t3cms"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- #END# Dev & contrib -->
                <!-- changelog -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="header">
                            <h2>Changelog</h2>
                        </div>
                        <div class="body">
<pre>
2.0.0 - [INIT] Initial release in TER
1.0.0 - [ALPHA] Concepting & development
</pre>
                        </div>
                    </div>
                </div>
                <!-- #END# changelog -->
            </div>

            <!-- Why Flux -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqDemo1" aria-expanded="false" aria-controls="faqDemo1">
                    <h2>Why we count on FLUX!</h2>
                </div>
                <div class="body collapse" id="faqDemo1">
                    <p>The content must be handled seperated from the way, how to configure the website or the theme. Short: We want to provide new content elements only via an extra extension for that. So, we were thinking about to use mask, but the workflow with mask was not effizient enougth. The mask_export made mask to a better option, but with mask_export we loose the flexibility for changing/adding/removing fields.. With FLUX fluidcontent elements, we just need one HTML file to create a content element. So the workflow is effizient enougth and the flexibility for fields is given, because all configuration is done in this one HTML file. The last big reason is, that FLUX can create Content + IRRE + Grid-Elements</p>
                </div>
            </div><!-- Why Flux -->
            <!-- Custumize BE Module Layout -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqBeModules" aria-expanded="false" aria-controls="faqBeModules">
                    <h2>Your backend module can look like this!</h2>
                </div>
                <div class="body collapse" id="faqBeModules">
                    <p>Just use <code>layoutRootPaths.10</code> to change the layoutRootPath in your Extension and use the T3CMS Backend Module Layout:</p>
<pre># TypoScript SETUP
module.tx_yourcoolextension {
    view {
        layoutRootPaths.0 = EXT:your_cool_extension/Resources/Private/Layouts/
        layoutRootPaths.10 = EXT:t3cms/Resources/Private/Skins/AdminBSBMaterialDesign/Layouts/
    }
}</pre>
                    <p>And use the <code>BeDefault</code> layout in your html templates:</p>
<pre>
&lt;f:layout name="BeDefault" /&gt;
</pre>
<p>
Check out the static demo to explore, what elements are available with this be module layout. <a href="/typo3conf/ext/t3cms/Resources/Public/Skins/AdminBSBMaterialDesign/" target="_blank">Open static demo</a>. <em>Note: The t3cms backend module layout is a very slim fork of the <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/" target="_blank">original template</a>.</em>
</p>
                </div>
            </div><!-- Custumize BE Module Layout -->
            <!-- AAAAAAAAAAAAAAAAAAAAA -->
            <div class="card">
                <div style="cursor:pointer;" class="header collapsed" data-toggle="collapse" data-target="#faqDemo2" aria-expanded="false" aria-controls="faqDemo2">
                    <h2>One more panel!</h2>
                </div>
                <div class="body collapse" id="faqDemo2">
                    <p>Just add these layout root path for t3cms be module layout:</p>
<pre>&lt;f:layout name="BeDefault" /&gt;</pre>
<p>Check out the static demo to explore, what elements are available with this be module layout. <a href="/typo3conf/ext/t3cms/Resources/Public/Skins/AdminBSBMaterialDesign/" target="_blank">Open static demo</a>. <em>Note: The t3cms backend module layout is a very slim fork of the <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/" target="_blank">original template</a>.</em></p>
                </div>
            </div><!-- AAAAAAAAAAAAAAAAAAAAA -->
        </div>
    </section>

</f:section>
